# Description: Archivo de configuración de la API

# Puerto en el que corre localmente la API 🚀
PORT =  3000


# Credenciales para acceder a la DB
DB_USER =  
DB_PASSWORD =  
DB_HOST =  
DB_NAME = "bolsa_trabajo"


# Variables de entorno para el usuario de la página
SCRAP_USER =  
SCRAP_PASS =  
SCRAP_USERTYPE =  

# Token secretos para JWT
TOKEN_SECRET = "lDMJIAFyC9BIWj240Eg_v_WYqj5eVvBqsER2n-ExPFM"
TOKEN_REFRESH_SECRET = "hwgIRpfQhbh7J9BoBoN8HGQHMnnhajc5TRdsq4IPLJE"